<p>This tutorial is aimed at anyone wanting to learn three.js who already have good knowledge of HTML and JavaScript.</p>
<h3>Why ThreeJS?</h3>
<p>ThreeJS is a javascript library that enables us to create&nbsp;3D graphics to be displayed in a web browser. In the past, graphics on the web were often created with software such as Adobe Flash, which required those viewing the media to have Flash Player installed - that was a bit of a pain especially for those running iOS where Flash support has been removed.</p>
<p>The web has moved forward since those days with the introduction of HTML5 and the canvas element, providing an improved&nbsp;alternative to flash. The output of ThreeJS actually runs inside an HTML5 canvas element, as&nbsp;it is&nbsp;based&nbsp;on WebGL, a 3D renderer supported by modern browsers.</p>
<p>WebGL allows the display of interactive 3D experiences and&nbsp;animations without the use of any additional plugins. The reason we're using ThreeJS instead of directly diving into WebGL is because it&nbsp;abstracts us from a lot of complexity, allowing us to focus more on the experience we are creating rather than more technical stuff within WebGL.</p>
<hr />
<h3>Creating a music visualizer</h3>
<p>The aim of this tutorial series is to learn ThreeJS whilst building a cool&nbsp;music visualizer, similar to this:</p>
<p><iframe src="https://www.youtube.com/embed/Cbpa2E59QDo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>As you can see in the music experience, there are a number of separate&nbsp;aspects to the visualization:</p>
<ul>
<li>A 'star field' at the top</li>
<li>A floor, or terrain at the bottom</li>
<li>Balls that animate with the music</li>
<li>Colour changes</li>
<li>The light which you can control the direction of&nbsp;</li>
</ul>
<p>This tutorial will be broken up into parts addressing each of the aspects above, with&nbsp;each tutorial building&nbsp;on the previous. We'll end up with the full scale visualization.</p>
<p><a href="/webgl/2015/04/23/create-star-field-three-js-webgl-part-1.html">Go to part 1</a></p>
<p>&nbsp;</p>
