<p>Having looked into what's required to build a music visualizer using three.js and WebGL, I've come across a few different options and examples, all of which use the WebAudio API to load and play with music. A few of the examples are below:</p>
<h3 id="header-title"><a title="Experimenting with web audio API + Three.js&nbsp;" href="http://srchea.com/apps/sound-visualizer-web-audio-api-webgl/" target="_blank">Experimenting with web audio API + Three.js</a>&nbsp;</h3>
<h4>by&nbsp;Sann-Remy Chea</h4>
<p><a href="http://srchea.com/apps/sound-visualizer-web-audio-api-webgl/" target="_blank"><img src="http://srchea.com/images/posts/experimenting-with-web-audio-api-three-js-webgl/visualizer-1.png" alt="" width="565" height="320" /></a></p>
<p>This is a good demo, combined with a tutorial and code snippets on how to get started with loading music using the Web Audio API. There's also code snippet explanations and the source code is all available on git.</p>
<hr />
<h3><a title="Getting Started with Web Audio API" href="http://www.html5rocks.com/en/tutorials/webaudio/intro/" target="_blank">Getting Started with Web Audio API</a></h3>
<h4>By Boris Smus</h4>
<p><a title="Getting started with Web API" href="http://www.html5rocks.com/en/tutorials/webaudio/intro/" target="_blank"><img src="/img/web-audio-api.png" alt="" width="707" height="171" /></a></p>
<p>This is another good introductory tutorial, showing you how to load and play sounds, change the volume, and crossfade amongst other things.</p>
<hr />
<h3><a title="Exploring hte HTML5 Web Audio: visualizing sound" href="http://www.smartjava.org/content/exploring-html5-web-audio-visualizing-sound" target="_blank">Exploring the HTML5 Web Audio: visualizing sound</a></h3>
<h4>By Jos Dirksen</h4>
<p><a title="Music visualization" href="http://www.smartjava.org/content/exploring-html5-web-audio-visualizing-sound" target="_blank"><img src="http://www.smartjava.org/sites/default/files/Loading%20and%20playing%20a%20sound%20with%20the%20Web%20Audio%20API-2.png" alt="" width="699" height="183" /></a></p>
<p>This is another on setting up the basics of Web Audio API, but with more examples such as creating a cool frequency spectrum&nbsp;</p>
<hr />
<h3><a title="Using the Web Audio API" href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Using_Web_Audio_API" target="_blank">Using the Web Audio API</a></h3>
<h4>By Mozilla Developer Network</h4>
<p><a title="Violent Theremin" href="http://mdn.github.io/violent-theremin/" target="_blank"><img src="https://mdn.mozillademos.org/files/7919/violent-theremin.png" alt="" width="640" height="458" /></a></p>
<p>A more reliable introduction coming from MDN, with some easy to follow starter web apps, such as '<a title="Violent Theremin" href="http://mdn.github.io/violent-theremin/" target="_blank">Violent Theremin</a>' which allows you to change pitch and volume by moving your mouse, whilst producing a colourful visualization</p>
<hr />
<h3><a title="WebGL Audio Visualization" href="http://macobo.github.io/WebGL-Audio-Visualization/#/angels" target="_blank">WebGL Audio Visualization</a></h3>
<h4>By macobo</h4>
<p><a title="music visualizer" href="http://macobo.github.io/WebGL-Audio-Visualization/#/angels" target="_blank"><img src="http://macobo.github.io/WebGL-Audio-Visualization/doc/img/angels1.png" alt="" width="579" height="375" /></a></p>
<p>Here are some more complex examples, but the source code is also available on&nbsp;<a title="source code" href="https://github.com/macobo/WebGL-Audio-Visualization" target="_blank">github</a></p>
<hr />
<p>The following are less of tutorials, but some cool examples and resources:</p>
<h3><a title="3D Trig Music Visualizer" href="https://www.chromeexperiments.com/experiment/3d-trig-music-visualizer" target="_blank">3D Trig Music Visualizer</a></h3>
<h4>By Steven Hoffing</h4>
<p><a href="http://shoffing.com/pages/projects/trigvis/" target="_blank"><img src="https://lh3.ggpht.com/peGzXys6c4Xy5IUjqK6W_uK6O6tu_6BoC7QBlln0w48bEsh_CC3SgCvfFb_HZlMiUA2bz-h4PnSYtI0WlZ6dcKX3fzO9sBvRxaLe7w" alt="3d Trig music visualizer" width="512" height="288" /></a></p>
<p>This visualizer uses Three.JS and WebGL with a variety of trigonometry equations to genarate cool visualizations with music.&nbsp;</p>
<hr />
<h3><a title="Avajam" href="http://thomassteinke.com/avajam/" target="_blank">Avajam</a></h3>
<p>Here's a cool music game I found on the GitHub blog which also uses the Web Audio API. The original game was called Avabranch, and looks like the image on the left, but this version is a branch called Avajam, shown on the right.&nbsp;</p>
<p><a title="Avajam" href="http://thomassteinke.com/avajam/" target="_blank"><img style="max-width:100%;" src="https://cloud.githubusercontent.com/assets/121322/7260318/0dd28b20-e81e-11e4-96e3-9932876f64f1.png" alt="Avabranch" width="804" height="196" /></a></p>
<p>&nbsp;View the source&nbsp;<a title="avajam" href="https://github.com/Epiphane/avabranch" target="_blank">here</a></p>
<hr />
<p>These two&nbsp;take a slightly different approach in that tQuery is used, a library written on top of three.js which is meant to be similar to jQuery:</p>
<h3><a title="tQuery WebAudio for More Realistic 3D" href="http://learningthreejs.com/blog/2012/03/20/sounds-for-more-realistic-3d/" target="_blank">tQuery WebAudio for More Realistic 3D</a></h3>
<h3><a title="Sound Visualisation: A Veumeter in WebGL" href="http://learningthreejs.com/blog/2012/05/08/sound-visualisation-vuemeter-in-webgl/" target="_blank">Sound Visualisation: A Veumeter in WebGL</a></h3>
<hr />
<p>A couple more resources:</p>
<h4><a title="Chrome Experiments" href="https://www.chromeexperiments.com/" target="_blank">Chrome Experiments</a></h4>
<h4><a title="Creative Applications" href="http://www.creativeapplications.net/" target="_blank">Creative Applications</a></h4>
<p>&nbsp;</p>
